@font-face {
  font-family: 'Minecraft';
  src: url(./Minecraft.ttf);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px dashed white;
}

body {
  background-color: #2d1b33;
  font-family: 'Minecraft', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0
}

.Proyects {
  font-size: 2rem;
  text-shadow: 4px 4px #000;
  color: #44C13F;
}

nav a {
  margin: 10px;
  color: #fff;
  text-decoration: none;
  font-family: 'Minecraft';
  background-color: #8b8b8b;
  border: 4px solid #373737;
  padding: 10px 20px;
  transition: all 0.2s;
}

nav {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav a:hover {
  background-color: #a8a8a8;
  border-color: #fff;
  cursor: pointer;
}

.header {
  text-align: center;
  margin-top: 30px;
}

h1 {
  font-family: 'Minecraft';
  color: royalblue;
  text-shadow: 0px 5px 0px black;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.6;
}

.ventana-inicio {
  background-color: #c6c6c6;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #7b7b7b;
  border-bottom: 4px solid #7b7b7b;
  max-width: 1000px;
  min-height: auto;
  text-align: center;
}

.ventana-platino {
  background-color: #c6c6c6;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #7b7b7b;
  border-bottom: 4px solid #7b7b7b;
  max-width: 400px;
  min-height: auto;
  text-align: center;
}

.ventana-juegos {
  background-color: #c6c6c6;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #7b7b7b;
  border-bottom: 4px solid #7b7b7b;
  max-width: 400px;
  min-height: auto;
  text-align: center;
}

.ventana-proyectos {
  background-color: #c6c6c6;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #7b7b7b;
  border-bottom: 4px solid #7b7b7b;
  max-width: 400px;
  min-height: auto;
  text-align: center;
}

.info {
  font-family: sans-serif;
  color: #626262;
  text-shadow: 0px 3px 0px #ffffff;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.6;
  text-align: center;
}

.platino1 {
  background-color: #c6c6c6;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #7b7b7b;
  border-bottom: 4px solid #7b7b7b;
  max-width: auto;
  min-height: auto;
  margin-top: 50px;

}

.resident {
  text-shadow: 0px 4px 0px #ffffff;
  font-family: sans-serif;
  text-align: center;
  color: #2d1b33;
}

.platino1-info{
  font-family: sans-serif;
  text-shadow: 0px 4px 0px #ffffff;
  color: #626262;
}

.img-plantino1{
  max-width: 100%;
  height: auto;
  border: 2px solid #555;
  margin: 10px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 25px;
}